.img-responsive {
    width: 100%;
    height: auto;
    object-fit: contain;
}

@for $i from 1 through 10 {
    .img-blur-#{$i} {
        filter: blur($i+1px);
    }
}

.img-blur {
    filter: 25%;
}

.img {
    width: 200px;
    height: 200px;
}

.img-responsive-xl {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.img-responsive-l {
    max-width: 80%;
    height: auto;
    object-fit: contain;
}

.img-responsive-m {
    max-width: 60%;
    height: auto;
    object-fit: contain;
}

.img-responsive-xs {
    max-width: 40%;
    height: auto;
    object-fit: contain;
}

.img-responsive-s {
    max-width: 20%;
    height: auto;
    object-fit: contain;
}

.img-circle {
    border-radius: 50%;
    object-fit: contain;
}

.img-rounded {
    border-radius: 10%;
    object-fit: contain;
}

.img-thumbail {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    object-fit: contain;
}

.img-thumbail:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}